%h2 Check nodes
#nodes
  %table
    - @nodes.each do |node|
      %tr{ :class => "element-#{node.id}"}
        %td.status-load{:rel => url_for("status/#{node.id}")}
          %img{:src => url_for('loading.gif'), :height => 36, :width => 32}
        %td= node.url
        %td{:width => '100%'}= node.name 
        %td
          %button.btn.danger Delete

  %form.form-stacked.actions{:action => url_for("/new_node"), :method => "post", :id => 'add_node'}
    %fieldset
      .clearfix
        %label{:for => "node[name]"}Url
        %input{:type => "text", :name => "node[url]", :id => "add-url-field"}
      .clearfix
        %a.show_detailed{:href => '#'} More options
      .clearfix.hidden
        %label{:for => "node[name]"}Title
        %input{:type => "text", :name => "node[name]", :id => "add-name-field"}
      .clearfix
        %input.btn.primary{:type => "submit", :value => "Add node"}

%h2 Contacts
#contacts
  .list
    %table
      - @contacts.each do |contact|
        %tr{ :class => "element-#{contact.id}"}
          %td= contact.email

  %form.form-stacked.actions{:action => url_for("/new_contact"), :method => "post", :id => 'add_contact'}
    %fieldset
      .clearfix
        %label{:for => "contact[email]"}Email
        %input{:type => "text", :name => "contact[email]", :id => "add-email-field"}
      .clearfix
        %input.btn{:type => "submit", :value => "Add contact"}
