%h1 Check points
#nodes
  %form{:action => url_for("/new_node"), :method => "post", :id => 'add_node', :class => 'form-stacked'}
    %table
      - @nodes.each do |node|
        %tr{ :class => "element-#{node.id}"}
          %td= node.url
          %td= node.name 
          %td.status-load{:rel => url_for("status/#{node.id}")}
            %img{:src => url_for('loading.gif'), :height => 36, :width => 32}
          -#%td
            %button.btn.danger Delete
      %tr.create_form
        %td{:colspan => 2}
          %input{:type => "text", :name => "node[url]", :id => "add-url-field"}
        %td
          %button.btn.info.show_detailed More
    %fieldset
      .clearfix
        %label{:for => "node[name]"}Title
        %input{:type => "text", :name => "node[name]", :id => "add-name-field"}
      .actions
        %input{:type => "submit", :value => "Add node", :class => "btn"}

%h2 Contacts
#contacts
  .list
    %form{:action => url_for("/new_contact"), :method => "post", :id => 'add_contact', :class => 'form-stacked'}
      %table
        - @contacts.each do |contact|
          %tr{ :class => "element-#{contact.id}"}
            %td= contact.email
        %tr.create_form
          %td
            %input{:type => "text", :name => "contact[email]", :id => "add-email-field"}